.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #141414; 
  color: #fff; 
}

.signup-form {
  background-color: #1c1c1c;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #e50914;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.signup-form input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box; 
}

.signup-form input:focus {
  outline: 2px solid #e50914;
  background-color: #444;
}


.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #ff3847;
}

.error-message {
  color: #ff0000;
  background-color: #330000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #a3a3a3;
}

.login-link a {
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
}